<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-6"> 
      <div class="col-md-1"></div>
      <h2 class="col-md-5">Edit User</h2>
    </div> 
  </div>
</div>
<%= render 'form' %>
<!-- 
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %> -->
